.wallet_parent_container{
  /* background-color: #F5F6FA; */
  height: 100%;
  width: 100%;
  display: flex;
}

.wallet_container{
  width: 1280px;
  padding: 25px;
  /* margin: 0 auto; */
  margin-right: 0;
  background-color: #FBFFFE;
}
.wallet_container2{
  display: flex;
  background-color: #F2FFFC;
  /* max-width: 150px; */
  flex-direction: column;
  gap: 30px;
  /* height: 100rem; */
  /* justify-content: center; */
  align-items: center;
  height: 100rem;
  padding: 40px;
  /* margin-right: 20px; */
}
.wallet_card-container,.wallet_card-container2,.wallet_card-container3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
}
.wallet_overview,.wallet_overview2,.wallet_overview3{
  color: #000;
font-family: "Inter",sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.wallet_serial_no,
.wallet_Age,
.wallet_date,
.wallet_Gender,
.wallet_name {
  color: #181819;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.wallet_th {
  color: #5e5e5f;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wallet_create_div1,
.wallet_create_div2 {
  display: flex;
  align-items: center;
  border-radius: 30.5px;
  background: #fafbfe;
  padding: 10px 25px;
}
