/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.user_parent_container{
  /* background-color: #F5F6FA; */
  height: 100%;
  width: 100%;
  display: flex;
}
.user_container{
  width: 1280px;
  padding: 25px;
  /* margin: 0 auto; */
  margin-right: 0;
  background-color: #FBFFFE;
}
.user_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.user_welcome {
display: flex;
align-items: center;
gap: 9px;
}
.user_form_heading{
display: flex;
flex-direction: column;
}
.user_form_heading span{
color: #000;
font-family: "Inter",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.user_form_heading p{
color: #C0C0C0;
font-family: "Inter",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.user_welcome2{
  display: flex;
  align-items: center;
  gap: 13px;
}
.user_search_bar{
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 29px;
  background: #E2E3E8;
  width: 325px;
  padding: 15px 10px;
  height: 45px;
  flex-shrink: 0;
  border: 1px solid #EBE8E8;
  
}
#user_text{
  border: none;
  background-color: #E2E3E8;
  padding: 10px;
  width: 100%;
}
::placeholder{
  color: #5B5B5B;
  border-radius: 29px;
font-family:"Inter",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.user_overview,.user_overview2,.user_overview3{
  color: #000;
font-family: "Inter",sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user_parent_content{
  display: flex;
  align-items: center;
  gap: 15px;
}
.user_card1_content1,.user_card4_content4,.user_card5_content5,.user_card6_content6,.user_card09_content09{
  display: flex;
  align-items: baseline;
  gap: 6px;
}
.user_card1,.user_card2,.user_card4,.user_card5,.user_card6{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 19px;
  padding: 22px;
  max-width: 330px;
background-color: #FFF;
box-shadow: 0px 4px 18px 0px rgba(132, 132, 132, 0.25);
}
#user_card_heading1,#user_card_heading2,#user_card_heading3,#user_card_heading4,#user_card_heading5,#user_card_heading6{
  color: #000;
font-family: "Inter",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user_span1,.user_span9,.user_span13,.user_span17,.user_span09,.user_span07,.user_span20{
  color: #000;
font-family: "Inter",sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user_span2,.user_span11,.user_span14,.user_span18,.user_span08,.user_span06,.user_span21{
  color: #BABABA;
font-family: "Inter",sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user_span3,.user_span5,.user_span12,.user_span15,.user_span16{
  color: #B1B1B1;
font-family: "Inter",sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.user_card-container,.user_card-container2,.user_card-container3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
}
.user_div0{
  display: flex;
  justify-content: space-between;
}
.user_name{
  color: #000;
font-family: "Inter",sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user_date{
  color: #6E6E6E;
font-family: "Inter",sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.user_card01_content01{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_span001{
  color: #000;
text-align: center;
font-family: "Inter",sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user_in_span{
  color: #2CC295;
font-family: "Inter",sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.user_span002{
  color: #BABABA;
  text-align: center;
  font-family: "Inter",sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.user_card_button{
  border-radius: 3px;
border: 1px solid #B0B0B0;
background-color: #FFF;
box-shadow: 0px 4px 4px 0px rgba(207, 207, 207, 0.25);
width: 143px;

flex-shrink: 0;
}
.user_card_button:hover {
  cursor: pointer;
}
.user_subdiv12{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 25px; */
}
.user_percentage{
  color: #6E6E6E;
  font-family:" Inter",sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user_disease{
    color: #606060;
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.user_create_div2{
      border-radius: 5px;
      background: #2CC295;
      /* position: relative; */
      height: 12px;
      flex-shrink: 0;
      width: 50%;
}
.user_create_div1{
        /* position: absolute; */
        height: 12px;
        flex-shrink: 0;
        border-radius: 5px;
        background-color: #D9D9D9;
        width: 10rem;
}
.user_class_end{
  color: #7A7878;
font-family: "Inter",sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 17px; 
}
.user_card1_header{
  display: flex;
  justify-content: space-between;
}
.user_card3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 19px;
  padding: 15px;
  max-width: 330px;
background-color: #FFF;
box-shadow: 0px 4px 18px 0px rgba(132, 132, 132, 0.25);
}
.user_card_heading3{
  color: #000;
  font-family: "Inter",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.user_span7{
  color: #B1B1B1;
  font-family: "Inter",sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.user_container2{
  display: flex;
  background-color: #F2FFFC;
  /* max-width: 150px; */
  flex-direction: column;
  gap: 30px;
  /* justify-content: center; */
  align-items: center;
  padding: 40px;
}